.landing.rendered{
    position: sticky;
    top: var(--nav-height);
    z-index: -1;

    height: calc(100svh - var(--nav-height) - var(--spacing-5));
    width: 100%;
    

    img{
        height: 100%;
        width: 100%;

        object-fit: cover;
        object-position: center;
		background-color: var(--main-color);
    }
}