section#landing{
    position: sticky;
    top: var(--nav-height);
    z-index: -1;

    height: calc(100svh - var(--nav-height));
    width: 100%;
    

    img{
        height: 100%;
        width: 100%;

        object-fit: cover;
        object-position: center;

    }
}

main{
    & .line{
        width: 100svw;
        max-width: none;
        background-color: var(--accent-color-1);
        height: var(--spacing-4);
        padding: 0px;
        margin: 0px;

    }
}